html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background: linear-gradient(320deg, #112D60, #DD83E0);
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.calculator-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Adjust space between calculator and history */
}

.history{
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 500px;
    /* padding: 10px; */
    width: 200px;
}

.history-table{
    height: 500px;
    overflow-y: auto;   /* Enable vertical scrolling if content overflows */
    overflow-x: hidden;
}
.history-table::-webkit-scrollbar {
    display: none;
}


.history-section{
    background: rgba(255, 255, 255, 0);
    color: #000000;
    font-size: 20px;
    overflow: auto;
    padding: 10px;
    text-align: right;
    width: 200px;
    cursor: pointer;

}

/* Hover Effect */
.history-section:hover {
    background: rgba(255, 255, 255, 0.3); /* Change to a slightly opaque white background */
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1); /* Add a shadow on hover */
}

/* Click Effect */
.history-section:active {
    background: rgba(255, 255, 255, 0.5);  /* Change background to a more solid color on click */
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.2); /* Increase shadow intensity when clicked */
}
#history-header {
    position: sticky; 
    top: 0;         
    z-index: 10;       
    color: #232323;
    font-size: 15px;
    width: auto;
    border-radius: 16px 16px 0 0;
    padding: 10px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#clear-all-btn {
    margin-left: 10px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.34);
    padding: 5px;

}

/* Hover Effect */
#clear-all-btn:hover {
    background: rgba(255, 255, 255, 0.3); /* Change to a slightly opaque white background */
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1); /* Add a shadow on hover */
}

/* Click Effect */
#clear-all-btn:active {
    background: rgba(255, 255, 255, 0.5);  /* Change background to a more solid color on click */
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.2); /* Increase shadow intensity when clicked */
}

.wrapper{
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 500px;
    height: 550px;
    padding: 20px 35px;
}

.screen{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: left;
    width: 426px;
}
.screen:active {
    background: rgba(255, 255, 255, 0.5);  /* Change background to a more solid color on click */
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.2); /* Increase shadow intensity when clicked */
}
.screen::-webkit-scrollbar {
    display: none;
}
.calc-button-row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    flex-basis: 15%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}

.calc-button:last-child{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    background: #d72880;
    /* background: #d72880; */
    color: #ffff;
    
}

.calc-button:last-child:hover{
    background-color: inherit;
    color: inherit;
}

.calc-button:last-child:active{
    background-color: #353A5F;
    color: #ffff;
}

.calc-button:hover{
    background-color: inherit;
}

.calc-button:active{
    background-color: #353A5F;
    color: #ffff;
}

.double{
    flex-basis: 36%;
}

.triple{
    flex-basis: 73%;
}